{
    order coraza_waf first
    #debug
}

# WAF untuk domain publik
api.sawangan.web.id {
    coraza_waf {
        load_owasp_crs
        directives `
            Include /ruleset/coraza.conf
            Include /ruleset/owasp-crs/crs-setup.conf.example
            Include /ruleset/owasp-crs/rules/*.conf

            SecRuleEngine On
            SecAuditLog /audit/waf-audit.log
            SecAuditEngine RelevantOnly
            SecAuditLogRelevantStatus "^(?:(5|4)(0|1)[0-9])$"
            SecRequestBodyAccess On
            SecResponseBodyAccess On
            SecResponseBodyMimeType text/plain text/html text/xml application/json
        `
    }
    reverse_proxy pocketbase-api:8888
}

prestige2.sawangan.web.id {
    coraza_waf {
        load_owasp_crs
        directives `
            Include /ruleset/coraza.conf
            Include /ruleset/owasp-crs/crs-setup.conf.example
            Include /ruleset/owasp-crs/rules/*.conf

            SecRuleEngine On
            SecAuditLog /audit/waf-audit.log
            SecAuditEngine RelevantOnly
            SecAuditLogRelevantStatus "^(?:(5|4)(0|1)[0-9])$"
            SecRequestBodyAccess On
        `
    }
    reverse_proxy pocketbase:8090
}

# WAF untuk domain Tailscale
argocd.sawangan.web.id {
    coraza_waf {
        load_owasp_crs
        directives `
            Include /ruleset/coraza.conf
            Include /ruleset/owasp-crs/crs-setup.conf.example
            Include /ruleset/owasp-crs/rules/*.conf
            SecRuleEngine On
            SecAuditLog /audit/waf-audit.log
        `
    }
    reverse_proxy 100.106.55.29:8080
}

# Non-WAF domains (internal/trusted)
dashboard.sawangan.web.id {
    reverse_proxy vikunja:3456
}

vault.sawangan.web.id {
    reverse_proxy 100.106.55.29:8200
}

vault-web.sawangan.web.id {
    reverse_proxy 100.106.55.29:8200
}

photos.sawangan.web.id {
    reverse_proxy 100.106.55.29:8283
}

keycloak.sawangan.web.id {
    reverse_proxy 100.106.55.29:8888
}

k8s.sawangan.web.id {
    reverse_proxy 100.106.55.29:8086
}
